.sidebar {
    width: 40%;
    height: 100%;
    background-color: rgb(219, 217, 145);
}

.yearStyle {
    font-family: 'Malgun Gothic';
    border: rgb(65, 184, 248) solid;
    border-radius: 10px;
    margin: 10px;
    padding: 5px;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    background-color: aliceblue;
}

.yearStyle:hover {
    cursor: pointer;
}

/* @media screen and (max-width: 600px) {}

@media screen and (max-width: 1050px) {
    .sidebar{
        display: none;
    }
} */
